<div class="explore-container">

        <h1 id="explore-container-topic">Explore</h1>

        <div class="explore-flex">
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions some formulas'})%> 
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions some formulas'})%>
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions'})%> 
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions'})%>
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions'})%>
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions'})%>
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions'})%>
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions'})%>
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions'})%>
                <%- include("../../public/components/cards.ejs",{header:'MATH191', description:'integeral and integraions'})%>

        
        </div>
</div>
<!-- style -->
<style>
        .explore-container{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                flex-direction: column;
        }

        .explore-flex{
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                justify-content: center;
        }

</style>